body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, blue, red, yellow);
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    --box-size: 800px;
    width: var(--box-size);
    height: var(--box-size);

    margin-left: auto;
    margin-right: auto;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn {
    width: 100px;
    height: 50px;

    border: 2px solid;
    border-radius: 5px;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.userGrid {
    
    width: 50px;
    height: 20px;
}

.block {
    background-color: #fff;

    --block-size: 50px;
    width: var(--block-size);
    height: var(--block-size);
}

.block.active {
    background-color: #000;
}